@font-face {
    font-family: 'Victor Mono';
    src: url('/fonts/VictorMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Victor Mono Italic';
    src: url('./../public/fonts/VictorMono-Italic-VariableFont_wght.ttf');
}

:root {
    --color-darkblue: #00121a;
    --color-pastelblue: #65ab9e;
    font-family: 'Victor Mono';

    color: white;
    font-size: 17px;
}

body {
    background-color: var(--color-darkblue);
}

a {
    color: white;
}

.button {
    background-color: var(--color-darkblue);
    padding: 0.8em 2.4em;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 0.4rem;
}

.button.primary {
    background-color: var(--color-pastelblue);
}
